@{
    ViewData["Title"] = "Home Page";
}


<h1>Welcome to Chair Station</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="./image/shoppigMan.jpg" alt="First slide">
        </div>      
    </div>
</div>
